Django == 4.0.2
djangorestframework >= 3.13.1
django-filter >= 21.1
simplejson >= 3.17.6
requests >= 2.27.1
django-apscheduler >= 0.6.0
python-telegram-bot >= 13.11
lxml >= 4.7.1
beautifulsoup4 >= 4.10.0
wechatpy >= 1.8.18
cryptography
Pillow
#ddddocr
typing_extensions
GitPython
thefuzz
#thefuzz[speedup]
#paddlepaddle
paddleocr==2.6.0.1
transmission-rpc
qbittorrent-api
feedparser
PyMySQL >= 1.0.2
django-environ
PySocks
#使用后台运行
#gunicorn


