<!-- 表单弹窗 -->
<form id="siteinfoEditForm" lay-filter="siteinfoEditForm" class="layui-form model-form" method="POST">{% csrf_token %}
    <input name="id" type="hidden" value="{{id}}"/>

    <div class="layui-form-item">
        <label class="layui-form-label">站点名称</label>
        <div class="layui-input-block">
            <div id="siteconfig_name"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">cookie</label>
        <div class="layui-input-block">
            <input name="cookie" type="text" class="layui-input" maxlength="1500" lay-verify="required" required value="{{cookie}}"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">passkey</label>
        <div class="layui-input-block">
            <input name="passkey" type="text" class="layui-input" maxlength="200" value="{{passkey}}" />
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">代理设置</label>
        <div class="layui-input-block">
            {% if siteproxy_id == "" %}
            <input type="checkbox" name="status" lay-filter="status" lay-skin="switch" lay-text="启用|禁用"/>
            {% else %}
            <input type="checkbox" name="status" checked="" lay-filter="status" lay-skin="switch" lay-text="启用|禁用"/>
            {% endif %}
        </div>
    </div>

    {% if siteproxy_id == "" %}
    <div class="layui-form-item" id="proxy" style="display:none">
    {% else %}
    <div class="layui-form-item" id="proxy">
    {% endif %}
        <label class="layui-form-label">代理名称</label>
        <div class="layui-input-block">
            <div id="proxy_id"></div>
        </div>
    </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
        <button class="layui-btn" lay-filter="siteinfoEditForm-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'formX', 'dropdown'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var formX = layui.formX;
        var setter = layui.setter;

        form.render('checkbox', 'siteinfoEditForm');
        form.render('select',"siteinfoEditForm");

        form.on('switch(status)', function(data){
            //console.log(data.value);
            if(data.elem.checked==true){
                 $("#proxy").show();
             }else{
                 $("#proxy").hide();
             }
         });

        var siteconfig_name = "{{siteconfig_name}}";

        var siteConfigNameList = [];
                  // 渲染多选下拉框
        var insSel = xmSelect.render({
            el: '#siteconfig_name',
            name: 'siteconfig_name',
            prop: {
                name: 'name',
                value: 'value',
            },
            layVerify: 'required',
            radio: true,
	        clickClose: true,
            filterable: true, //开启搜索
            data: []
        });

        /* 获取所有记录类型 */
        var loadIndex = layer.load(2);
        admin.req('sites/siteconfigname/list?flag=1', function (res) {
            layer.close(loadIndex);
            if (0 === res.code) {
                $.each(res.data, function (index, item) {
                    if ( item.name === siteconfig_name ){
                        siteConfigNameList.push({name: item.name_en_cn, value: item.name,selected: true});
                    } else {
                        siteConfigNameList.push({name: item.name_en_cn, value: item.name});
                    }
                });
                insSel.update({
                    data: siteConfigNameList,
                    autoRow: true,
                })
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        });

        var proxyIDList = [];
        // 渲染多选下拉框
        var proxySel = xmSelect.render({
          el: '#proxy_id',
          name: 'proxy_id',
          prop: {
              name: 'name',
              value: 'value',
          },
          radio: true,
          clickClose: true,
          filterable: true, //开启搜索
          data: []
        });

        /* 获取所有记录类型 */
        var loadIndex = layer.load(2);
        admin.req('sites/siteproxy/select/list', function (res) {
            layer.close(loadIndex);
            if (0 === res.code) {
                $.each(res.data, function (index, item) {
                    if ( item.id.toString() === "{{siteproxy_id}}" ){
                        proxyIDList.push({name: item.name, value: item.id,selected: true});
                    } else {
                        proxyIDList.push({name: item.name, value: item.id});
                    }
                });
                proxySel.update({
                    data: proxyIDList,
                    autoRow: true,
                })
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        });
    
        form.on('submit(siteinfoEditForm-submit)', function (data) {
            layer.load(2);
            admin.req('sites/siteinfo/edit', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 1) {
                    layer.msg(data.msg, {icon: 1});
                    table.reload('siteinfoTable', {});
                    admin.closeDialog('#siteinfoEditForm');
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, $('#siteinfoEditForm').attr('method'));
            return false;
        });
    });
</script>