<!-- 表单弹窗 -->
<form id="siteinfoAddForm" lay-filter="siteinfoAddForm" class="layui-form model-form" method="POST">{% csrf_token %}
    
    <div class="layui-form-item">
            <label class="layui-form-label">站点名称</label>
            <div class="layui-input-block">
                <div id="siteconfig_name"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">cookie</label>
            <div class="layui-input-block">
                <input name="cookie" type="text" class="layui-input" maxlength="800" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">passkey</label>
            <div class="layui-input-block">
                <input name="passkey" type="text" class="layui-input" maxlength="200"/>
            </div>
        </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
        <button class="layui-btn" lay-filter="siteinfoAddForm-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'formX', 'dropdown'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var formX = layui.formX;
        var setter = layui.setter;

        var siteConfigNameList = [];

        form.render('select', 'siteinfoAddForm');

          // 渲染多选下拉框
          var insSel = xmSelect.render({
            el: '#siteconfig_name',
            name: 'siteconfig_name',
            prop: {
                name: 'name',
                value: 'value',
            },
            layVerify: 'required',
            radio: true,
	        clickClose: true,
            filterable: true, //开启搜索
            data: []
        });

        /* 获取所有记录类型 */
        var loadIndex = layer.load(2);
        admin.req('sites/siteconfigname2siteinfo/list', function (res) {
            layer.close(loadIndex);
            if (0 === res.code) {
                $.each(res.data, function (index, item) {
                    siteConfigNameList.push({name: item.name_en_cn, value: item.name});
                });
                insSel.update({
                    data: siteConfigNameList,
                    autoRow: true,
                })
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        });

        form.on('submit(siteinfoAddForm-submit)', function (data) {
            layer.load(2);
            admin.req('sites/siteinfo/add', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 1) {
                    layer.msg(data.msg, {icon: 1});
                    table.reload('siteinfoTable', {});
                    admin.closeDialog('#siteinfoAddForm');
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, $('#siteinfoAddForm').attr('method'));
            return false;
        });
    });
</script>