<style>
    .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
  </style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">

                    <div class="layui-inline searchInput">
                        <input id="jobSearchValue" class="layui-input" type="text" placeholder="输入关键字"/>
                    </div>
                    <div class="layui-inline">
                        <button id="jobBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="jobBtnDel" class="layui-btn layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="jobTable" lay-filter="jobTable"></table>
      
      <fieldset class="layui-elem-field">
        <legend>新增/编辑计划任务</legend>

        <div class="layui-field-box">
          <form class="layui-form" lay-filter="form" id="form">

            <input type="hidden" name="config_filename" value="crontab">
            
            <div class="layui-form-item">
              <label class="layui-form-label required">任务类型</label>
              <div class="layui-input-inline">
                <select name="type" lay-filter="type" lay-verify="required" required lay-reqtext="任务类型不能为空" id="type">
                  <option value="">请选择任务类型</option>
                  <option value="reseed">辅种任务</option>
                  <option value="rss">Rss下载任务</option>
                  <option value="spiders">免费种爬虫下载任务</option>
                  <!-- <option value="url">访问URL</option>
                  <option value="shell">Shell脚本</option>
                  <option value="patch">备份目录</option>
                  <option value="ddns">动态域名DDNS</option>
                  <option value="clear">清除日志</option> -->
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label layui-form-required">任务名称</label>
              <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" maxlength="30" placeholder="请输入任务名称" class="layui-input" id="name" lay-verify="required" required/>
              </div>

            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">任务状态</label>
              <div class="layui-input-block">
                <input type="checkbox" name="switch" lay-skin="switch" lay-text="运行|禁用" lay-filter="switch" id="switch">
              </div>
            </div>
            <div class="layuimini-form" id="crontab_type_view"></div>
  
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                <button class="layui-btn layui-btn-primary" data-refresh="刷新">刷新</button>
              </div>
            </div>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
</div>
  
<!-- 表格操作列 -->
<script type="text/html" id="jobTableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

  {% verbatim myblock %}
  <!-- 模板：计划任务配置字段 -->
  <script type="text/html" id="crontab_type_tpl">
    <input type="hidden" name="action" value="{{ d.action || 'add'}}">
    {{# if (d.action === 'edit') { }}
    <input type="hidden" name="uuid" value="">
    <input type="hidden" name="startTime" value="">
    {{# } }}
  
    <div class="layui-form-item">
      <label class="layui-form-label required">执行周期</label>
      <div class="layui-inline">
        <div class="layui-input-inline" style="width: 100px;">
          <select name="where" lay-filter="where" lay-verify="required" lay-reqtext="执行周期不能为空" id="where">
            <option value="day" {{ d.where === 'day' ? 'selected' : ''}}>每天</option>
            <option value="day_n" {{ d.where === 'day_n' ? 'selected' : ''}}>N天</option>
            <option value="hour" {{ d.where === 'hour' ? 'selected' : ''}}>每小时</option>
            <option value="hour_n" {{ d.where === 'hour_n' ? 'selected' : ''}}>N小时</option>
            <option value="minute_n" {{ d.where === 'minute_n' ? 'selected' : ''}}>N分钟</option>
            <option value="week" {{ d.where === 'week' ? 'selected' : ''}}>每星期</option>
            <option value="month" {{ d.where === 'month' ? 'selected' : ''}}>每月</option>
          </select>
        </div>
      </div>
      <!--执行周期联动-->
      <span id="crontab_where_view"></span>
    </div>
    
    {{# if (d.type === 'reseed') { }}
    <div class="layui-form-item">
      <label class="layui-form-label required">辅种的站点</label>
      <div class="layui-input-block" id="reseed_sites_view">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label required">辅种的下载器</label>
      <div class="layui-input-block" id="reseed_clients_view">
      </div>
      <div class="layui-form-mid layui-word-aux"><i class="layui-icon layui-icon-tips"></i> 如果您新增站点或者新增下载器，需要再次编辑计划任务并勾选。</div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">自动校验</label>
      <div class="layui-input-block">
        <input type="checkbox" name="auto_check" lay-skin="switch" lay-text="YES|NO" lay-filter="auto_check" id="auto_check">
        <tip>辅种添加的任务，自动开始校验（如果您的QB下载器，添加的辅种任务不会自动开始校验，可以勾选此设置）。此功能在TR以及低版本QB中属于默认行为，是否勾选都不影响自动校验；</tip>
      </div>
    </div>
    {{# } }}
  
  
    {{# if (d.type === 'rss') { }}
    <div class="layui-form-item">
      <label class="layui-form-label required">Rss站点</label>
      <div class="layui-input-block">
        <div id="rss_sites_view"></div>
        <div class="layui-form-mid layui-word-aux"><i class="layui-icon layui-icon-tips"></i> 未配置的站点，将会显示为禁用状态。<a href="javascript:;" layuimini-href="page/setting/sites.html" target="_self" style="color:#1e9fff">站点设置</a></div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">RSS订阅地址</label>
      <div class="layui-input-block">
        <input type="text" name="urladdress" placeholder="请输入RSS订阅地址" class="layui-input" value="">
        <tip>未配置URL地址时，将会执行默认。</tip>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label required">下载器</label>
      <div class="layui-input-block" id="rss_clients_view">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">下载模式</label>
      <div class="layui-input-block">
        <input type="checkbox" name="workingMode" lay-skin="switch" lay-text="Watch模式|Rpc模式" lay-filter="workingMode" id="workingMode">
        <tip>Rpc模式：可以远程访问下载器的API接口，POST种子元数据；Watch模式：仅往下载器设置的watch监控目录内写入种子文件。</tip>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">数据目录</label>
      <div class="layui-input-block">
        <input type="text" name="downloadsDir" placeholder="请输入数据目录" class="layui-input">
        <tip><span class="layui-badge">优先级：中</span>下载器的数据目录。如果此处留空，将会使用过滤器设置的数据目录或者下载器设置的数据目录；如果都未设置，将会采用下载器默认值。</tip>
      </div>
    </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label required">筛选规则</label>
      <div class="layui-input-block">
        <div id="rss_filter_view"></div>
        <div class="layui-form-mid layui-word-aux"><i class="layui-icon layui-icon-tips"></i> 满足所选的规则，Rss时才会下载。</div>
      </div>
    </div>
    {{# } }}
  
    {{# if (d.type === 'spiders') { }}
    <div class="layui-form-item">
      <label class="layui-form-label required">站点爬虫</label>
      <div class="layui-input-block">
        <div id="spiders_sites_view"></div>
        <div class="layui-form-mid layui-word-aux"><i class="layui-icon layui-icon-tips"></i> 未配置的站点，将会显示为禁用状态。<a href="javascript:;" layuimini-href="page/setting/sites.html" target="_self" style="color:#1e9fff">站点设置</a></div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">种子列表页地址</label>
      <div class="layui-input-block">
        <input type="text" name="urladdress" placeholder="请输入种子列表页地址" class="layui-input" value="">
        <tip>未配置URL地址时，将会执行默认。</tip>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label required">下载器</label>
      <div class="layui-input-block" id="spiders_clients_view">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">下载模式</label>
      <div class="layui-input-block">
        <input type="checkbox" name="workingMode" lay-skin="switch" lay-text="Watch模式|Rpc模式" lay-filter="workingMode" id="workingMode">
        <tip>Rpc模式：可以远程访问下载器的API接口，POST种子元数据；Watch模式：仅往下载器设置的watch监控目录内写入种子文件。</tip>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">数据目录</label>
      <div class="layui-input-block">
        <input type="text" name="downloadsDir" placeholder="请输入数据目录" class="layui-input">
        <tip><span class="layui-badge">优先级：中</span>下载器的数据目录。如果此处留空，将会使用过滤器设置的数据目录或者下载器设置的数据目录；如果都未设置，将会采用下载器默认值。</tip>
      </div>
    </div>
  
    <div class="layui-form-item">
      <label class="layui-form-label required">筛选规则</label>
      <div class="layui-input-block">
        <div id="spiders_filter_view"></div>
        <div class="layui-form-mid layui-word-aux"><i class="layui-icon layui-icon-tips"></i> 满足所选的规则，爬虫才会向下载器推送下载任务。</div>
      </div>
    </div>
    {{# } }}

  </script>
  
  <!-- 模板：辅种任务 [站点] 复选框 -->
  <script id="reseed_sites_tpl" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <input type="checkbox" name="sites[{{item}}]" title="{{item}}" checked>
    {{#  }); }}
  </script>
  
  <!-- 模板：辅种任务 [下载器] 复选框 -->
  <script id="reseed_clients_tpl" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <input type="checkbox" name="clients[{{item.uuid}}]" title="{{ item.name }}" checked>
    {{#  }); }}
  </script>
  
  
  <!-- 模板：下载任务 [站点] 单选框 -->
  <script id="rss_sites_tpl" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <input type="radio" name="site" value="{{item.site}}" title="{{ item.site }}{{ item.nickname && item.site != item.nickname ? ' ' + item.nickname : '' }}" {{ item.disabled ? ' disabled' : '' }}>
    {{#  }); }}
  </script>
  
  <!-- 模板：下载任务 [下载器] 单选框 -->
  <script id="rss_clients_tpl" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <input type="radio" name="clients" value="{{item.uuid}}" title="{{ item.name }}">
    {{#  }); }}
  </script>
  
  <!-- 模板：下载任务 [筛选规则过滤器] 单选框 -->
  <script id="rss_filter_tpl" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <input type="radio" name="filter" value="{{item.uuid}}" title="{{ item.name }}">
    {{#  }); }}
  </script>
  
  <!-- 模板：计划任务 [执行周期] 组合 -->
  <script type="text/html" id="crontab_where_tpl">
    {{# if (d.weeks) { }}
    <div class="layui-inline">
      <div class="layui-input-inline" style="width: 100px;">
        <select name="weeks" lay-filter="weeks" lay-verify="required" id="weeks">
          <option value="1" selected>周一</option>
          <option value="2">周二</option>
          <option value="3">周三</option>
          <option value="4">周四</option>
          <option value="5">周五</option>
          <option value="6">周六</option>
          <option value="0">周日</option>
        </select>
      </div>
    </div>
    {{# } }}
    {{# if (d.day) { }}
    <div class="layui-inline">
      <div class="layui-input-inline" style="width: 140px;">
        <input type="number" name="day" lay-verify="required" lay-reqtext="{{ d.where === 'day_n' ? '间隔天数' : '每月第几日' }}不能为空" placeholder="请输入{{ d.where === 'day_n' ? '间隔天数' : '每月第几日' }}" class="layui-input" id="day">
      </div>
      <div class="layui-form-mid">{{ d.where === 'day_n' ? '天' : '日' }}</div>
    </div>
    {{# } }}
    {{# if (d.hour) { }}
    <div class="layui-inline">
      <div class="layui-input-inline" style="width: 100px;">
        <input type="number" name="hour" lay-verify="required" lay-reqtext="小时不能为空" placeholder="请输入小时" class="layui-input" id="hour">
      </div>
      <div class="layui-form-mid">小时</div>
    </div>
    {{# } }}
    {{# if (d.minute) { }}
    <div class="layui-inline">
      <div class="layui-input-inline" style="width: 100px;">
        <input type="number" name="minute" lay-verify="required" lay-reqtext="分钟不能为空" placeholder="请输入分钟" class="layui-input" id="minute">
      </div>
      <div class="layui-form-mid">分钟</div>
    </div>
    {{# } }}
  </script>

  {% endverbatim myblock %}

  <script>
        /**
         * 根据ID获取DOM元素对象
         * @param {string} id 
         */
        function getById(id) {
            return document.getElementById(id);
        }


        layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'xmSelect', 'formX', 'dropdown','laytpl','transfer','code'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var formX = layui.formX;
        var setter = layui.setter;
        var xmSelect = layui.xmSelect;
        var laytpl = layui.laytpl;
        var transfer = layui.transfer;

  
      const path_filter = 'path_filter'
        ,path_selector = 'path_selector'
        ,_height = 250;
  
      /**
       * 任务类型 选择框
       * @param {string} type       任务类型
       * @param {string} action     动作(增、删、改、查)
       * @param {string} where      执行周期
       * @param {object} formData   编辑时表单数据
       */
      let crontab_sel_action = function(type = '', action = '', where = 'day', formData = null) {
        let rule = {
            type: type
            ,action: action
            ,where: where
          }
          ,getTpl = crontab_type_tpl.innerHTML
          ,view = getById('crontab_type_view');
        //初始清空
        view.innerHTML = '';
        if (type === '') {
          getById('switch').checked = false;
          form.render();
          return ;
        }
        //新增任务时，清空任务名称 选中任务使能
        if (action === '' || action === 'add') {
          getById('name').value = '';
          getById('switch').checked = true;
        }
        laytpl(getTpl).render(rule, function(html) {
          view.innerHTML = html;
        });
        form.render();
        //联动：任务周期
        crontab_where_sel_action(rule.where);
        //联动：辅种任务
        reseed_sel_action(type, formData);
        //联动：RSSS下载任务
        rss_sel_action(type, formData);
        //联动：免费种爬虫下载任务
        spiders_sel_action(type, formData);
      };
  
      /**
       * 任务周期选择框
       * @param {string} where     执行周期
       */
      let crontab_where_sel_action = function(where = '') {
        let rule = {
            where: where
            ,weeks: where === 'week'
            ,day: $.inArray(where, ['day_n', 'month']) >= 0
            ,hour: $.inArray(where, ['hour', 'minute_n']) < 0
            ,minute: !!where
          }
          ,getTpl = crontab_where_tpl.innerHTML
          ,view = getById('crontab_where_view');
        //初始清空
        view.innerHTML = '';
        if (where === '') {
          return ;
        }
        laytpl(getTpl).render(rule, function(html) {
          view.innerHTML = html;
        });
        form.render();
      };
  
      /**
       * 任务选择框联动，辅种任务
       * @param {string} type       任务类型
       * @param {object} formData   编辑时表单数据
       */
      let reseed_sel_action = function(type = '', formData) {
        if (type !== 'reseed') {
          return;
        }
        let callback = null;
        if (formData !== null) {
          format_input('sites', formData);
          format_input('clients', formData);
          delete formData.sites;
          delete formData.clients;
          console.log(formData);
          //定义回调
          callback = [
            function(){
              //取消复选框
              $('#reseed_sites_view').find(':input').each(function () {
                $(this).attr('checked', false);
              });
              form.val("form", formData);
            },
            function(){
              //取消复选框
              $('#reseed_clients_view :input').removeAttr("checked");
              form.val("form", formData);
            }
          ];
        }
        //辅种站点
        $.getJSON('/Api/Config?config_filename=user_sites&action=list', function (d) {
          let getTpl = reseed_sites_tpl.innerHTML
            ,view = getById('reseed_sites_view');
          if (d.ret !== 200) {
            return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置站点，将会为您跳转到站点设置！', function(index){
              layer.close(index);
              window.location = '/index.html#/page/setting/sites.html';
            });
            return;
          }
          let data = Object.keys(d.data.items).map(function (key){
            return d.data.items[key].name;
          });
          laytpl(getTpl).render(data, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback[0] === 'function' && callback[0]();
          form.render('checkbox');
        });
        //辅种下载器
        $.getJSON('/Api/Config?config_filename=clients&action=list', function (d) {
          let getTpl = reseed_clients_tpl.innerHTML
            ,view = getById('reseed_clients_view');
          if (d.ret !== 200) {
            return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置下载器，将会为您跳转到下载器设置！', function(index){
              layer.close(index);
              window.location = '/index.html#/page/setting/clients.html';
            });
            return;
          }
          laytpl(getTpl).render(d.data.items, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback[1] === 'function' && callback[1]();
          form.render('checkbox');
        });
      };
        
      /**
       * 任务选择框联动，RSS下载任务
       * @param {string} type       任务类型
       * @param {object} formData   编辑时表单数据
       */
      let rss_sel_action = function(type = '', formData) {
        if (type !== 'rss') {
          return;
        }
        let callback = null;
        if (formData !== null) {
          console.log(formData);
          //定义回调
          callback = function(){
            form.val("form", formData);
          };
        }
        //RSS支持的所有站点
        $.getJSON('/Api/getAllRssClass', {filter: true}, function (d) {
          let getTpl = rss_sites_tpl.innerHTML
            ,view = getById('rss_sites_view');
          if (d.ret !== 200) {
            return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置站点，将会为您跳转到站点设置！', function(index){
              layer.close(index);
              window.location = '/index.html#/page/setting/sites.html';
            });
            return;
          }
          laytpl(getTpl).render(d.data.items, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback === 'function' && callback();
          form.render('radio');
        });
        //RSS使用的下载器
        $.getJSON('/Api/Config?config_filename=clients&action=list', function (d) {
          let getTpl = rss_clients_tpl.innerHTML
            ,view = getById('rss_clients_view');
          if (d.ret !== 200) {
            return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置下载器，将会为您跳转到下载器设置！', function(index){
              layer.close(index);
              window.location = '/index.html#/page/setting/clients.html';
            });
            return;
          }
          laytpl(getTpl).render(d.data.items, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback === 'function' && callback();
          form.render('radio');
        });
        //RSS使用的筛选规则过滤器
        $.getJSON('/Api/Config?config_filename=filter&action=list', function (d) {
          let getTpl = rss_filter_tpl.innerHTML
            ,view = getById('rss_filter_view');
          if (d.ret !== 200) {
            return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置筛选规则过滤器，将会为您跳转到过滤器设置！', function(index){
              layer.close(index);
              window.location = '/index.html#/page/setting/filter.html';
            });
            return;
          }
          laytpl(getTpl).render(d.data.items, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback === 'function' && callback();
          form.render('radio');
        });
      };
  
      /**
       * 任务选择框联动，免费种爬虫下载任务
       * @param {string} type       任务类型
       * @param {object} formData   编辑时表单数据
       */
      let spiders_sel_action = function(type = '', formData) {
        if (type !== 'spiders') {
          return;
        }
        let callback = null;
        if (formData !== null) {
          console.log(formData);
          //定义回调
          callback = function(){
            form.val("form", formData);
          };
        }
        //支持的所有站点
        $.getJSON('/Api/getAllSpidersClass', {filter: true}, function (d) {
          let getTpl = rss_sites_tpl.innerHTML
              ,view = getById('spiders_sites_view');
          if (d.ret !== 200) {
              return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置站点，将会为您跳转到站点设置！', function(index){
              layer.close(index);
              window.location = '/index.html#/page/setting/sites.html';
            });
            return;
          }
          laytpl(getTpl).render(d.data.items, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback === 'function' && callback();
          form.render('radio');
        });
        //使用的下载器
        $.getJSON('/Api/Config?config_filename=clients&action=list', function (d) {
          let getTpl = rss_clients_tpl.innerHTML
              ,view = getById('spiders_clients_view');
          if (d.ret !== 200) {
            return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置下载器，将会为您跳转到下载器设置！', function(index){
              layer.close(index);
              window.location = '/index.html#/page/setting/clients.html';
            });
            return;
          }
          laytpl(getTpl).render(d.data.items, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback === 'function' && callback();
          form.render('radio');
        });
        //使用的筛选规则过滤器
        $.getJSON('/Api/Config?config_filename=filter&action=list', function (d) {
          let getTpl = rss_filter_tpl.innerHTML
              ,view = getById('spiders_filter_view');
          if (d.ret !== 200) {
              return;
          }
          if (d.data.total <= 0) {
            layer.alert('您还没有配置筛选规则过滤器，将会为您跳转到过滤器设置！', function(index){
                layer.close(index);
                window.location = '/index.html#/page/setting/filter.html';
            });
            return;
          }
          laytpl(getTpl).render(d.data.items, function(html) {
            view.innerHTML = html;
          });
          //回调
          callback !== null && typeof callback === 'function' && callback();
          form.render('radio');
        });
      };
        
        // 渲染表格
        var insTb = tableX.render({
            elem: '#jobTable',
            url: setter.base_server + 'cron/job/list',
            method: 'GET',
            page: true,
            limit:15,
            limits:[15,50,100],
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID',hide:true},
                {field: 'name', sort: true, title: '任务名称'},
                {field: 'jobtype_id', sort: true, title: '任务类型'},
                {field: 'crontab_time', title: '执行周期'},
                {field: 'crontab_status', sort: true, title: '任务状态'},
                {align: 'center', toolbar: '#jobTableBar', title: '操作'}
            ]]
        });
  

      /**
        * 初始化表单，要加上，不然刷新部分组件可能会不加载
        */
      form.render();
  
      //自定义验证规则
      form.verify({
        path_filter: function (value) {
          let elem = getById(path_filter)
            ,obj = transfer.getData(path_filter);
          elem.value = obj ? obj.map(v => {return v.value}).toString() : '';
        }
        ,path_selector: function (value) {
          let elem = getById(path_selector)
          ,obj = transfer.getData(path_selector);
          elem.value = obj ? obj.map(v => {return v.value}).toString() : '';
        }
      });
      //监听选择：类型
      form.on('select(type)', function(data){
        crontab_sel_action(data.value, 'add');
      });
      //监听选择：执行周期where
      form.on('select(where)', function(data){
        crontab_where_sel_action(data.value);
      });
      
      //监听提交
      form.on('submit(saveBtn)', function (data) {
        $.ajax({
          url: API.create,
          type:'post',
          data: data.field,
          success:function(d){
            console.log(d);
            if (d.ret !== 200) {
              layer.msg(d.msg);
              return;
            }
            layer.msg('保存成功', function(){
              //miniPage.hashHome();
              window.location.reload();
            });          
          },
          complete: function () {
          },
          error : function(request) {
            layer.alert('未知错误，请截图当前界面，然后求助于QQ群：859882209、931954050、924099912！', {icon: 2, title: '出错提示'});
          }
        });
        return false;
      });
    });
  </script>
  