<!-- 表单弹窗 -->
<form id="jobEditForm" lay-filter="jobEditForm" class="layui-form model-form" method="POST">{% csrf_token %}
    <input name="id" type="hidden" value="{{id}}"/>
    <input name="crontab_id" type="hidden" value="{{crontab_id}}"/>
    
    <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">任务类型</label>
            <div class="layui-input-block">
                <div id="job_type"></div>
            </div>
        </div>
    
    <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">任务名称</label>
            <div class="layui-input-block">
                <input name="name" type="text" class="layui-input" maxlength="30" lay-verify="required" value="{{name}}" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">执行周期</label>
            <div class="layui-input-inline" style="width: 150px;">

                <div id="crontab_time" class="xm-select-demo"></div>

            </div>
            <span id="crontab_where_view"></span>
        </div>

    
        <div class="layui-form-item">
            <label class="layui-form-label">任务状态</label>
            <div class="layui-input-block">
                {% if crontab_status == 1 %}
                <input type="radio" name="crontab_status" value="1" title="激活" checked/>
                <input type="radio" name="crontab_status" value="0" title="禁用"/>
                {% else %}
                <input type="radio" name="crontab_status" value="1" title="激活"/>
                <input type="radio" name="crontab_status" value="0" title="禁用" checked/>
                {% endif %}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">站点</label>

            <div class="layui-inline-block" style="margin: 10px;">
                {{ sites|safe }}

            </div>
            <div class="layui-input-block">
                <br><span class="layui-badge layui-badge-red"><h2>全选和不选为所有站点,签到重试忽略站点选择</h2></span>&nbsp;
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">消息通知</label>

            <div class="layui-inline-block" style="margin: 10px;">
                {{ notifys|safe }}
                <!--
                <input type="checkbox" name="notifys[iyuu]" title="IYUU"/>
                <input type="checkbox" name="notifys[telegram]" title="Telegram"/>
                <input type="checkbox" name="notifys[email]" title="邮件"/>
                -->
            </div>
        </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
        <button class="layui-btn" lay-filter="jobEditForm-submit" lay-submit>保存</button>
    </div>
</form>


<script>
    /**
     * 根据ID获取DOM元素对象
     * @param {string} id 
     */
    function getById(id) {
        return document.getElementById(id);
    }

    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'formX', 'dropdown','laytpl'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var formX = layui.formX;
        var setter = layui.setter;
        var laytpl = layui.laytpl;

        var jobTypeList = [];

        form.render('radio');
        form.render('checkbox');
        form.render('select', 'jobEditForm');

        var job_type_id = "{{type_id}}";
        // 渲染多选下拉框
        var insSel = xmSelect.render({
            el: '#job_type',
            name: 'job_type',
            prop: {
                name: 'name',
                value: 'value',
            },
            layVerify: 'required',
            radio: true,
	        clickClose: true,
            //禁止编辑
            disabled: true,
            theme: {
                color: '#8799a3',
            },
            data: []
        });

        /* 获取所有记录类型 */
        var loadIndex = layer.load(2);
        admin.req('cron/jobtypeinfo/list', function (res) {
            layer.close(loadIndex);
            if (0 === res.code) {
                $.each(res.data, function (index, item) {
                    //整形转字符串
                    if ( item.type_id.toString() === job_type_id ){
                        jobTypeList.push({name: item.name, value: item.type_id,selected: true});
                    } else {
                        jobTypeList.push({name: item.name, value: item.type_id});
                    }
                });
                insSel.update({
                    data: jobTypeList,
                    autoRow: true,
                })
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        });

        var cronTimeType = [];
        var crontab_time_type = "{{crontab_time_type}}";
        var crontab_time = xmSelect.render({
            el: '#crontab_time', 
            radio: true,
	        clickClose: true,
            height: "252px",
            theme: {
                color: '#0081ff',
            },
            data: [],
            on: function(data){

                //isAdd, 此次操作是新增还是删除
		        var isAdd = data.isAdd;

                //点击获取数组对象
                //console.log(data.arr)
                if (isAdd){
                    crontab_where_sel_action(data.arr[0].value)
                }else{
                    crontab_where_sel_action('')
                }

            }
        })

        /* 获取所有记录类型 */
        var loadIndex = layer.load(2);
        admin.req('cron/jobtimetype/list', function (res) {
            layer.close(loadIndex);
            if (0 === res.code) {
                $.each(res.data, function (index, item) {
                    //整形转字符串
                    if ( item.value === crontab_time_type ){
                        cronTimeType.push({name: item.name, value: item.value,selected: true});
                    } else {
                        cronTimeType.push({name: item.name, value: item.value});
                    }
                });
                crontab_time.update({
                    data: cronTimeType,
                    autoRow: true,
                })
                crontab_where_sel_action(crontab_time_type)
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        });

        form.on('submit(jobEditForm-submit)', function (data) {
            layer.load(2);

            //将页面全部复选框选中的值拼接到一个数组中
            var notifys_box = [];
            $('input[name="notifys"]:checked').each(function() {
                notifys_box.push($(this).val());
            });
            data.field.notifys = notifys_box

            var sites_box = [];
            $('input[name="sites"]:checked').each(function() {
                sites_box.push($(this).val());
            });
            data.field.sites = sites_box

            admin.req('cron/job/edit', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 1) {
                    layer.msg(data.msg, {icon: 1});
                    table.reload('jobTable', {});
                    admin.closeDialog('#jobEditForm');
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, $('#jobEditForm').attr('method'));
            return false;
        });

        
        
        /**
         * 任务周期选择框
         * @param {string} where     执行周期
         */
        let crontab_where_sel_action = function(where = '') {
        let rule = {
            where: where
            //,weeks: where === 'week'
            ,day: $.inArray(where, ['day_n', 'month']) >= 0
            ,hour: $.inArray(where, ['hour', 'minute_n']) < 0
            ,minute: !!where
            }
            ,getTpl = crontab_where_tpl.innerHTML
            ,view = document.getElementById('crontab_where_view');
        //初始清空
        view.innerHTML = '';
        if (where === '') {
            return ;
        }
        laytpl(getTpl).render(rule, function(html) {
            
            view.innerHTML = html//.replace("#HOUR#", "{{hour}}").replace("#MINUTE#", "{{minute}}");
            if(document.getElementById("hour")!=null) {
                document.getElementById("hour").value = "{{hour}}"
            }
            if(document.getElementById("minute")!=null) {
                document.getElementById("minute").value = "{{minute}}"
            }

            if(document.getElementById("day")!=null) {
                document.getElementById("day").value = "{{day}}"
            }

        });
        form.render();
        };

    });
</script>

{% verbatim myblock %}

<!-- 模板：计划任务 [执行周期] 组合 -->
<script type="text/html" id="crontab_where_tpl">

    {{# if (d.day) { }}
    <div class="layui-inline">
      <div class="layui-input-inline" style="width: 140px;">
        <input type="number" name="day" lay-verify="required" lay-reqtext="{{ d.where === 'day_n' ? '间隔天数' : '每月第几日' }}不能为空" 
            placeholder="请输入{{ d.where === 'day_n' ? '间隔天数' : '每月第几日' }}" class="layui-input" id="day" />
      </div>
      <div class="layui-form-mid">{{ d.where === 'day_n' ? '天' : '日' }}</div>
    </div>
    {{# } }}
    {{# if (d.hour) { }}
    <div class="layui-inline">
      <div class="layui-input-inline" style="width: 100px;">
        <input type="number" name="hour" lay-verify="required" lay-reqtext="小时不能为空" placeholder="请输入小时" class="layui-input" id="hour" />
      </div>
      <div class="layui-form-mid">小时</div>
    </div>
    {{# } }}
    {{# if (d.minute) { }}
    <div class="layui-inline">
      <div class="layui-input-inline" style="width: 100px;">
        <input type="number" name="minute" lay-verify="required" lay-reqtext="分钟不能为空" placeholder="请输入分钟" class="layui-input" id="minute" />
      </div>
      <div class="layui-form-mid">分钟</div>
    </div>
    {{# } }}
  </script>
  {% endverbatim myblock %}