<!-- 表单弹窗 -->
<form id="jobtypeAddForm" lay-filter="jobtypeAddForm" class="layui-form model-form" method="POST">{% csrf_token %}

    <div class="layui-form-item">
            <label class="layui-form-label">类型名</label>
            <div class="layui-input-block">
                <input name="name" type="text" class="layui-input" lay-verify="required" required maxlength="20" />
            </div>
        </div>
    
    <div class="layui-form-item">
            <label class="layui-form-label">唯一标识ID</label>
            <div class="layui-input-block">
                <input name="type_id" type="text" class="layui-input" maxlength="4" lay-verify="required|numberX" required/>
            </div>
        </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
        <button class="layui-btn" lay-filter="jobtypeAddForm-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'formX', 'dropdown'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var formX = layui.formX;
        var setter = layui.setter;


        form.render('select', 'jobtypeAddForm');


        form.on('submit(jobtypeAddForm-submit)', function (data) {
            layer.load(2);
            admin.req('cron/jobtype/add', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 1) {
                    layer.msg(data.msg, {icon: 1});
                    table.reload('jobtypeTable', {});
                    admin.closeDialog('#jobtypeAddForm');
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, $('#jobtypeAddForm').attr('method'));
            return false;
        });
    });
</script>