{% load static %}
<style>
/** 最新动态时间线 */
.layui-timeline-dynamic .layui-timeline-item {
    padding-bottom: 0;
}

.layui-timeline-dynamic .layui-timeline-item:before {
    top: 16px;
}

.layui-timeline-dynamic .layui-timeline-axis {
    width: 9px;
    height: 9px;
    left: 1px;
    top: 7px;
    background-color: #cbd0db;
}

.layui-timeline-dynamic .layui-timeline-axis.active {
    background-color: #0c64eb;
    box-shadow: 0 0 0 2px rgba(12, 100, 235, .3);
}

    /** 统计快捷方式样式 */
    .console-link-block {
        font-size: 16px;
        padding: 20px 20px;
        border-radius: 4px;
        background-color: #40D4B0;
        color: #FFFFFF !important;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .05);
        position: relative;
        overflow: hidden;
        display: block;
    }

    .console-link-block .console-link-block-num {
        font-size: 40px;
        margin-bottom: 5px;
        opacity: .9;
    }

    .console-link-block .console-link-block-text {
        opacity: .8;
    }

    .console-link-block .console-link-block-icon {
        position: absolute;
        top: 50%;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 50px;
        line-height: 50px;
        margin-top: -25px;
        color: #FFFFFF;
        opacity: .8;
    }

    .console-link-block .console-link-block-band {
        color: #fff;
        width: 100px;
        font-size: 12px;
        padding: 2px 0 3px 0;
        background-color: #E32A16;
        line-height: inherit;
        text-align: center;
        position: absolute;
        top: 8px;
        right: -30px;
        transform-origin: center;
        transform: rotate(45deg) scale(.8);
        opacity: .95;
        z-index: 2;
    }

    /** //统计快捷方式样式 */

    /** 设置每个快捷块的颜色 */
    .layui-row > div:nth-child(2) .console-link-block {
        background-color: #55A5EA;
    }

    .layui-row > div:nth-child(3) .console-link-block {
        background-color: #9DAFFF;
    }

    .layui-row > div:nth-child(4) .console-link-block {
        background-color: #F591A2;
    }

    .layui-row > div:nth-child(5) .console-link-block {
        background-color: #FEAA4F;
    }

    .layui-row > div:last-child .console-link-block {
        background-color: #9BC539;
    }
</style>

<!-- 正文开始 -->
<div class="layui-fluid ew-console-wrapper">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2 layui-col-sm2 layui-col-xs5">
            <div class="console-link-block">
                <div class="console-link-block-num">{{sites_num}}</div>
                <div class="console-link-block-text">PT站数量</div>
                <i class="console-link-block-icon layui-icon layui-icon-list"
                   style="font-size: 62px;padding-right: 5px;"></i>

            </div>
        </div>

        <div class="layui-col-sm9">
            <div class="layui-card">
                <div class="layui-card-header">今日签到失败信息</div>
                <div class="layui-card-body">
                    <table class="layui-table" id="signFailTable" lay-filter="signFailTable"></table>

                </div>
            </div>

        </div>
    </div>

    <div class="layui-row layui-col-space15">

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body">
                
                    <div class="layui-form toolbar">
                        <div class="layui-form-item">

                            <div class="layui-inline">
                                <button id="updateuserBtn" class="layui-btn icon-btn layui-btn-sm"><i class="layui-icon layui-icon-refresh"></i>更新数据</button>
                            </div>
                        </div>
                    </div>

                    <table class="layui-table" id="siteuserTable" lay-filter="siteuserTable"></table>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- 表格操作列 -->
<script type="text/html" id="signFailTableBar">
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="signAgain">补签</a>
</script>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin',  'formX', 'dropdown'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var table = layui.table;
    var tableX = layui.tableX;
    var util = layui.util;
    var admin = layui.admin;
    var formX = layui.formX;
    var setter = layui.setter;

    // 渲染表格
    var insTb = tableX.render({
        elem: '#signFailTable',
        url: setter.base_server + 'cron/loginfo',
        method: 'POST',
        page: true,
        limit:20,
        limits:[20,50,100],
        cols: [[
            {type: 'checkbox'},
            {field: 'id', title: 'ID',hide:true},
            {field: 'name', sort: true, title: '站点'},
            {field: 'message', title: '失败原因'},
            {align: 'center', toolbar: '#signFailTableBar', title: '操作'}
        ]]
    });

    var siteuserTb = tableX.render({
        elem: '#siteuserTable',
        url: setter.base_server + 'sites/siteuser',
        method: 'GET',
        page: true,
        skin: 'line', //不显示竖线 row不显示横线 nob （无边框风格）
        even: true, //开启隔行背景
        limit: 200,
        limits:['全部'],
        cols: [[
            {field: 'id', title: 'ID',hide:true},
            {field: 'site_url', title: 'site_url',hide:true},
            {field: 'site_name', title: '站点', templet: function (d) {
                    return '<a href="' + d.site_url +'" target="_blank" class="layui-table-link" >' + d.site_name + '</a>';
                }, unresize: true
            },
            {field: 'username', title: '用戶名', width:110},
            {field: 'uid', title: '用戶ID', width:80},
            {field: 'level', title: '级别', width:120},
            {field: 'ratio', sort: true, title: '分享率', width:100},
            {field: 'upload', title: '上传'},
            {field: 'download', title: '下载'},
            {field: 'bonus', sort: true, title: '魔力值'},
            {field: 'score', title: '积分'},
            {field: 'published_seed_num', title: '发种数', width:75},
            {field: 'seed_num', title: '做种数', sort: true, width:100},
            {field: 'totle_seed_size', title: '做种体积'},
            {field: 'invite', title: '邀请码',sort: true, width:100},
        ]]
    });

    // 工具条点击事件
    table.on('tool(signFailTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;

        if(layEvent === 'signAgain'){

            //var csrftoken = getCookie('csrftoken');
            layer.confirm('确定对 ' + data.name + '进行补签操作？',{icon: 0, title: '提示', shadeClose: true},
            function (i) {
                layer.close(i);
                layer.load(2);
                $.ajax({ 
                        url : "common/signagain",
                        type: 'POST', 
                        dataType : "json", 
                        data: {'id':data.id,'action':'again', 'name':data.name, csrfmiddlewaretoken: '{{ csrf_token }}' },
                        // beforeSend: function(request) {
                        //     //django需要csrf验证,Forbidden (CSRF cookie not set.):
                        //     request.setRequestHeader("X-CSRFToken", csrftoken);
                        // },
                        success : function(d) { 
                            layer.closeAll('loading');
                            if (d.code == 1) {
                                table.reload('signFailTable', {});
                                layer.msg(d.msg, {icon: 1});
                            } else {
                                layer.msg(d.msg, {icon: 2});
                            }
                        } 
                }); 
            });
        }
    });
    
    // 更新数据按钮点击事件
    $('#updateuserBtn').click(function () {
        layer.load(2);
        admin.req('sites/siteuser/update', function (data) {
            layer.closeAll('loading');
            if (data.code == 1) {
                table.reload('siteuserTable', {});
                layer.msg(data.msg, {icon: 1});
            } else {
                layer.msg(data.msg, {icon: 2});
            }
        }, 'POST');
        return false;
    });
});
</script>