<link rel="stylesheet" href="assets/css/error-page.css"/>

<!-- 正文开始 -->
<div class="error-page">
    <img class="error-page-img" style="max-width: 300px;" src="assets/images/ic_404.svg">
    <div class="error-page-info">
        <h1>404</h1>
        <div class="error-page-info-desc">啊哦，你访问的页面不存在(⋟﹏⋞)</div>
        <div>
            <a href="#/" class="layui-btn">返回首页</a>
        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;

    });
</script>