<link rel="stylesheet" href="assets/css/error-page.css"/>

<!-- 正文开始 -->
<div class="error-page">
    <img class="error-page-img" src="assets/images/ic_500.svg" width="460px">
    <div class="error-page-info">
        <h1>500</h1>
        <div class="error-page-info-desc">诶呦，服务器开了个小差~</div>
        <div>
            <a href="#/" class="layui-btn">返回首页</a>
        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;

    });
</script>